#!/usr/bin/env bash

mkdir -p /tmp/bw-debug-log

if [[ -z "$BW_IDENTITY" ]]
then
    branch=$(git rev-parse --abbrev-ref HEAD 2>/dev/null)
    if (( $? == 0 ))
    then
        export BW_IDENTITY="$USER@$HOSTNAME:$branch"
    fi
fi

export BW_REPO_PATH=$(pwd)
export BW_ADD_HOST_KEYS=1
export BW_DEBUG_LOG_DIR=/tmp/bw-debug-log
export BW_ITEM_WORKERS=8
export BW_NODE_WORKERS=8

PATH_add scripts/
