[Unit]
Description=Screego screen sharing server (screego/server)
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Restart=always
RestartSec=20s
TimeoutStartSec=20s
TimeoutStopSec=20s
ExecStartPre=-/usr/bin/docker kill screego
ExecStartPre=-/usr/bin/docker rm screego
ExecStart=/usr/bin/docker run \
	--name=screego \
	--net=host \
	--env-file=/data/screego/environment \
	-v /data/screego:/data/screego \
	screego/server:${version}
ExecStop=/usr/bin/docker stop screego

[Install]
WantedBy=multi-user.target
