[Unit]
Description=co2mon
After=network.target

[Service]
User=co2mon
Group=co2mon
WorkingDirectory=/opt/co2mon
ExecStart=/opt/co2mon/.env/bin/python /opt/co2mon/co2mon.py \
--device "${context['device']}" \
--openhab-url "${context['openhab-url']}" \
--openhab-user "${context.get('openhab-user','')}" \
--openhab-pass "${context.get('openhab-pass','')}" \
--co2-name "${context.get('co2-name','')}" \
--temperatur-name "${context.get('temperatur-name','')}"

[Install]
WantedBy=multi-user.target
